.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
# Builds
*.apk
*.aab
*.app
LICENSE.meta
README.md.meta
version.txt.meta
Website.meta
source.json.meta
Website/**/*.meta
Runtime/OtherPrefabs.meta
SlickUI.meta
FUNDING.yml.meta
WorldTemplate.meta
JoinNotifier.meta
_blank.asset
_Templates.unity
_Templates.unity.meta
Scripts.meta
FadingTP.meta
SpawnFade.meta
SmartWhitelist Template.prefab.meta
Editor.meta
Examples.meta
Examples/UI.meta
Prefabs.meta
Ressources.meta
package.json.meta
Runtime.meta
Runtime/Prefabs/UI.meta
