.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
# Builds
*.apk
*.aab
*.app
LICENSE.meta
README.md.meta
version.txt.meta
_CommonRessources.meta
OtherPrefabs.meta
UwUtils.meta
SlickUI.meta
*.cs.meta
.github
Scripts/*.asset.meta
FUNDING.yml.meta
WorldTemplate.meta
JoinNotifier.meta
